[submodule "OmenTools"]
	path = OmenTools
	url = https://github.com/AtmoOmen/OmenTools.git
[submodule "ECommons"]
	path = ECommons
	url = https://github.com/AtmoOmen/ECommons.git
[submodule "ClickLib"]
	path = ClickLib
	url = https://github.com/Limiana/ClickLib.git
