[submodule "ClickLib"]
	path = ClickLib
	url = https://github.com/AtmoOmen/ClickLib.git
[submodule "OmenTools"]
	path = OmenTools
	url = https://github.com/AtmoOmen/OmenTools.git
[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons
